<div align="center" width="100%" bgcolor="#ffffff" style="background: #ffffff !important">
    <table width="600" align="center" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background: #ffffff !important">
    <tr>
      <td width="75">&nbsp;</td>
      <td align="center">
        <font class="text">
          <br/><br/><%= raw @introduction[:faqs] %>
        </font>
      </td>
      <td width="75">&nbsp;</td>
    </tr>
  </table>
</div>
