---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=client_id&client_secret=client_secret&username=samuelmartini%40nebulab.it&password=passwordsecurity_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","instance_url":"https://maisonette--dev.my.salesforce.com","id":"https://test.salesforce.com/id/00D1b00000090R1EAI/0051b0000036MdeAAE","token_type":"Bearer","issued_at":"1618473840313","signature":"Nsvn3rDojiCtKoJ4cLUSP/RG1O8DO0v5rVFWW17HIbc="}'
  recorded_at: Thu, 15 Apr 2021 08:04:00 GMT
- request:
    method: get
    uri: https://maisonette--dev.my.salesforce.com/services/data/v54.0/query?q=select%20Id,%20External_Id__c%20FROM%20OrderItemSummary%20where%20External_Id__c%20IN%20(%27123%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=671/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Thu, 15 Apr 2021 08:04:01 GMT
recorded_with: VCR 5.0.0
