---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment_invoice
    body:
      encoding: UTF-8
      string: start_date=2021-01-29&end_date=2021-02-03&type=shipment_invoice
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ebba02c8601c108be0ff224b0010ada8
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb1nuq
      X-Version-Label:
      - easypost-202102030054-7d2bfab216-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 9cd9455ca9
      - intlb2nuq 9cd9455ca9
      - intlb2wdc 9cd9455ca9
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shpinvrep_1e0d91a44209429bb82140344cfbfd19","object":"ShipmentInvoiceReport","created_at":"2021-02-04T15:19:39Z","updated_at":"2021-02-04T15:19:39Z","start_date":"2021-01-29","end_date":"2021-02-03","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
  recorded_at: Thu, 04 Feb 2021 15:19:40 GMT
recorded_with: VCR 5.0.0
