---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/payments/capture
    body:
      encoding: UTF-8
      string: '{"token":"002.8lp05rmle32ja716duf55uugh5a9ftb25g771a6li8j2a3pe","merchantReference":null,"amount":{"amount":"100.0","currency":"USD"},"isCheckoutAdjusted":true,"paymentScheduleChecksum":null,"items":[{"name":"Product
        #1 - 7290","sku":"SKU-1","pageUrl":null,"imageUrl":null,"quantity":1,"price":{"amount":"10.0","currency":"USD"},"categories":[["19419"]],"estimatedShipmentDate":null,"preorder":false}],"shipping":{"name":"John
        Smith","line1":"A Different Road","line2":"Northwest","area1":"Herndon","area2":null,"region":"AL","postcode":"10002","countryCode":null,"phoneNumber":"555-555-0199"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 412
      message: ''
    headers:
      Content-Type:
      - application/json
      Http-Correlation-Id:
      - 37vmtt2kmkbxeocqssiqfbygxq
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "invalid_object",

          "errorId" : "23b768b4652da8b4",
          "message" : "Payment schedule checksum mismatch",
          "httpStatusCode" : 412
        }
  recorded_at: Tue, 02 Nov 2021 17:00:31 GMT
recorded_with: VCR 5.0.0
