---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=client_id&client_secret=client_secret&username=salesforce%40maisonette.com.dev&password=passwordsecurity_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"access_token","instance_url":"https://maisonette--dev.sandbox.my.salesforce.com","id":"https://test.salesforce.com/id/00D1b00000090R1EAI/0051b000002yuesAAA","token_type":"Bearer","issued_at":"1662732203952","signature":"7ScCEb4BkcHh7Od+0HuAgOQ8DIWyl/YlNAPwGF5xM8k="}'
  recorded_at: Fri, 09 Sep 2022 14:03:24 GMT
- request:
    method: get
    uri: https://maisonette--dev.sandbox.my.salesforce.com/services/data/v54.0/query?q=SELECT%20Id%20FROM%20OrderSummary%20WHERE%20OriginalOrderId%20=%20%278011b000002GubnAAC%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=27639/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"OrderSummary","url":"/services/data/v54.0/sobjects/OrderSummary/1Os1b0000004EbdCAE"},"Id":"1Os1b0000004EbdCAE"}]}'
  recorded_at: Fri, 09 Sep 2022 14:03:24 GMT
recorded_with: VCR 5.0.0
