---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/reports/shipment_invoice
    body:
      encoding: UTF-8
      string: start_date=2021-02-03&end_date=2021-02-03&type=shipment_invoice
    headers:
      Authorization:
      - "<Authorization Code>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 409
      message: Conflict
    headers:
      X-Ep-Request-Uuid:
      - 8fdc8f78601c0c1ce0ff1eca000edb61
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2nuq
      X-Version-Label:
      - easypost-202102030054-7d2bfab216-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 9cd9455ca9
      - intlb1nuq 9cd9455ca9
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"REPORT.ALREADY_EXISTS","message":"The report already
        exists please use id to find report","errors":[{"field":"existing_report","id":"shpinvrep_72dc2cd540c6400083ff0044f4e19cf7"}]}}'
  recorded_at: Thu, 04 Feb 2021 15:00:44 GMT
recorded_with: VCR 5.0.0
