---
http_interactions:
- request:
    method: post
    uri: https://6cbad560de9a.api.forter-secure.com/v2/orders/M920354089
    body:
        encoding: UTF-8
      string: '{"orderId":"2356fdse0rr489","orderType":"WEB","authorizationStep":"PRE_AUTHORIZATION","timeSentToForter":1415287568000,"checkoutTime":1415273168,"connectionInformation":{"customerIP":"10.0.0.127","userAgent":"Mozilla/5.0
        (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.73
        Safari/537.36","forterTokenCookie":"2315688945984","merchantDeviceIdentifier":"HGJ7512345H3","fullHeaders":"{\\\"method\\\":\\\"GET
        \\/ HTTP\\/1.1\\\", \\\"Host\\\": \\\"forter.com\\\", \\\"Connection\\\":
        \\\"keep-alive\\\", \\\"Accept\\\": ...}"},"totalAmount":{"amountUSD":"99.95","amountLocalCurrency":"105.55","currency":"CAD"},"cartItems":[{"basicItemData":{"name":"White
        GenericBrand handbag","quantity":1,"type":"TANGIBLE","price":{"amountUSD":"99.95","amountLocalCurrency":"105.55","currency":"CAD"},"productId":"Ag54352R7768kkO","category":"Apparel
        and accessories"},"itemSpecificData":{"physicalGoods":{"size":"7.5","color":"Blue","weight":500,"brand":"Forter
        Brand","style":"Forter Style","condition":"NEW","wrapAsGift":true,"removeReceipt":true,"customDesign":true,"prepayCustomsTaxesAndFees":true,"otherExtras":"Wrap
        in recyclable materials only"}},"seller":{"sellerDetails":{"sellerAccountCreationDate":1415273168,"sellerPastSalesCount":8,"sellerPastSalesSum":{"amountUSD":"99.95","amountLocalCurrency":"105.55","currency":"CAD"},"availableFundsForWithdrawal":{"amountUSD":"99.95","amountLocalCurrency":"105.55","currency":"CAD"},"sellerPersonalDetails":{"firstName":"John","lastName":"Smith","email":"john_s@test.com","accountId":"e520-ba9a-367-60b","username":"johnsm98"},"socialNetworkData":[{"networkName":"FACEBOOK","profileId":"10000054564897","username":"JohnSmith1987","email":"john_s@test.com","profilePicture":true,"friendsCount":409,"followersCount":523,"followingCount":1006,"friendUIDs":["100005648699","100002232110"],"firstName":"John","lastName":"Smith","fullName":"John
        Smith","profileLink":"http:\\\\www.facebook.com/sampleProfileName","profileLocationDefault":"en_US","profileAgeRange":"18-21","profileTimezone":"-8","lastUpdate":1434653580,"verifiedProfile":true,"postCount":81,"usedOnPlatforms":["iPad","android"],"extraSocialNetworkData":{}}],"type":"BUSINESS","verifiedSeller":true,"sellerRegistrationIP":{"ip":"10.0.0.128","updateTimes":{"creationTime":1448549922,"lastModifiedTime":1448549922,"lastUsed":1448560456}},"sellerLastLoginIP":{"ip":"10.0.0.128","updateTimes":{"creationTime":1448549922,"lastModifiedTime":1448549922,"lastUsed":1448560456}},"status":"ACTIVE","ratingAsBuyer":{"score":"4.5","type":"INTERNAL_PEERS","source":"yelp"},"taxExempt":true,"dateVerified":1430997968,"dateOfFirstSale":1430997968,"sellerReturnsCount":2,"sellerInitiatedDisputesCount":1,"buyerInitiatedDisputesCount":6,"sellerLostDisputesCount":0,"paidForPromotion":true},"cashWithdrawalHistory":[{"aggregatedUse":{"inUse":true,"itemInListCount":4},"totalWithdrawal":{"amountUSD":"99.95","amountLocalCurrency":"105.55","currency":"CAD"},"creditCards":{"nameOnCard":"John
        R. H. Smith","bin":"424242","lastFourDigits":"4242","expirationMonth":"03","expirationYear":"2018","cardType":"CREDIT","countryOfIssuance":"US","fingerprint":"Xt5EWLLDS7FJjR1c","cardBrand":"VISA","cardBank":"Chase","verificationResults":{"cvvResult":"M","avsNameResult":"M","avsFullResult":"Y","authorizationCode":"A33244","processorResponseCode":"D23","processorResponseText":"Stolen
        card","authenticationMethodType":"THREE_DS"},"paymentGatewayData":{"gatewayName":"Braintree","gatewayTransactionId":"fjdsS46sdklFd20","gatewayMerchantId":"ncxwe5490asjdf","integrationType":"iframe","authorizationStep":"pre-authorization"},"paymentProcessorData":{"processorName":"Chase
        Paymentech","processorTransactionId":"fjdsS46sdklFd20","processorMerchantId":"ncxwe5490asjdf"},"paymentAcquirerData":{"merchantCategoryCode":5655,"acquirerBIN":"457173","acquirerMerchantId":5245020244654,"merchantCountryCode":840,"acquirerName":"Barclays","acquirerMerchantName":"Simple
        T-shirt"},"fullResponsePayload":{}},"paypal":{"payerId":"FD000A45P","payerEmail":"john_s@test.com","paymentMethod":"Instant
        Transfer","paymentStatus":"COMPLETED","payerStatus":"VERIFIED","payerAddressStatus":"CONFIRMED","payerAccountCountry":"US","protectionEligibility":"ELIGIBLE","paymentId":"PAY-0MB00000KR8073311KZSDEYA","authorizationId":"2WC75407LV7300439","correlationId":"fdshkj2390sdf","checkoutToken":"00dada00de757","paymentGatewayData":{"gatewayName":"Braintree","gatewayTransactionId":"fjdsS46sdklFd20","gatewayMerchantId":"ncxwe5490asjdf","integrationType":"iframe","authorizationStep":"pre-authorization"},"fullPaypalResponsePayload":{}},"ach":{"personalDetails":{"firstName":"John","lastName":"Smith","email":"john_s@test.com","accountId":"e520-ba9a-367-60b","username":"johnsm98"},"address":{"address1":"235
        Montgomery st.","city":"San Francisco","country":"US","address2":"Ste. 1110","zip":"94104","region":"CA","company":"Generic
        Corp. ltd.","savedData":{"usedSavedData":true,"choseToSaveData":true}},"phone":[{"phone":"15557654321"}]},"achBankName":null,"check":{"address1":"235
        Montgomery st.","city":"San Francisco","country":"US","address2":"Ste. 1110","zip":"94104","region":"CA","company":"Generic
        Corp. ltd.","savedData":{"usedSavedData":true,"choseToSaveData":true}}}],"itemsCurrentlyListedForSale":5,"sellerVerificationCreditCard":{"nameOnCard":"John
        R. H. Smith","bin":"424242","lastFourDigits":"4242","expirationMonth":"03","expirationYear":"2018","cardType":"CREDIT","countryOfIssuance":"US","fingerprint":"Xt5EWLLDS7FJjR1c","cardBrand":"VISA","cardBank":"Chase","verificationResults":{"cvvResult":"M","avsNameResult":"M","avsFullResult":"Y","authorizationCode":"A33244","processorResponseCode":"D23","processorResponseText":"Stolen
        card","authenticationMethodType":"THREE_DS"},"paymentGatewayData":{"gatewayName":"Braintree","gatewayTransactionId":"fjdsS46sdklFd20","gatewayMerchantId":"ncxwe5490asjdf","integrationType":"iframe","authorizationStep":"pre-authorization"},"paymentProcessorData":{"processorName":"Chase
        Paymentech","processorTransactionId":"fjdsS46sdklFd20","processorMerchantId":"ncxwe5490asjdf"},"paymentAcquirerData":{"merchantCategoryCode":5655,"acquirerBIN":"457173","acquirerMerchantId":5245020244654,"merchantCountryCode":840,"acquirerName":"Barclays","acquirerMerchantName":"Simple
        T-shirt"},"fullResponsePayload":{}}}}],"payment":[{"billingDetails":{"personalDetails":{"firstName":"John","lastName":"Smith","email":"john_s@test.com","accountId":"e520-ba9a-367-60b","username":"johnsm98"},"address":{"address1":"235
        Montgomery st.","city":"San Francisco","country":"US","address2":"Ste. 1110","zip":"94104","region":"CA","company":"Generic
        Corp. ltd.","savedData":{"usedSavedData":true,"choseToSaveData":true}},"phone":[{"phone":"15557654321"}]},"amount":{"amountUSD":"99.95","amountLocalCurrency":"105.55","currency":"CAD"},"paymentMethodNickname":"My
        Work Card","creditCard":{"nameOnCard":"John R. H. Smith","bin":"424242","lastFourDigits":"4242","expirationMonth":"03","expirationYear":"2018","cardType":"CREDIT","countryOfIssuance":"US","fingerprint":"Xt5EWLLDS7FJjR1c","cardBrand":"VISA","cardBank":"Chase","verificationResults":{"cvvResult":"M","avsNameResult":"M","avsFullResult":"Y","authorizationCode":"A33244","processorResponseCode":"D23","processorResponseText":"Stolen
        card","authenticationMethodType":"THREE_DS"},"paymentGatewayData":{"gatewayName":"Brain[...]
