---
http_interactions:
- request:
    method: post
    uri: https://global-api-sandbox.afterpay.com/v2/payments/capture
    body:
        encoding: UTF-8
      string: '{"token":"002.8lp05rmle32ja716duf55uugh5a9ftb25g771a6li8j2a3pe","merchantReference":null,"amount":{"amount":"50.0","currency":"USD"},"isCheckoutAdjusted":true,"paymentScheduleChecksum":null,"items":[{"name":"Product
        #1 - 4740","sku":"SKU-1","pageUrl":null,"imageUrl":null,"quantity":1,"price":{"amount":"10.0","currency":"USD"},"categories":[["9443"]],"estimatedShipmentDate":null,"preorder":false}],"shipping":{"name":"John
        Smith","line1":"A Different Road","line2":"Northwest","area1":"Herndon","area2":null,"region":"AL","postcode":"10002","countryCode":null,"phoneNumber":"555-555-0199"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization Code>"
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json

      Cf-Ray:
      - 6a7eed6299816f28-FCO
      Strict-Transport-Security:
      - max-age=31536000; includeSubDomains; preload
      Cf-Cache-Status:
      - DYNAMIC
      Expect-Ct:
      - max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
      Http-Correlation-Id:
      - lb4y7bjdie3k64emxhbh37kepm
      X-Envoy-Upstream-Service-Time:
      - '696'
      Set-Cookie:
      - __cf_bm=TNQ16V1A0m00ppZLeb9B4Def7L6avuY_6_zM_41rDGA-1635872513-0-AWSIerHZU+K5dKVkqX5n+g4ZMLV5/H85rFyxGgogha9R/EtPVY3sbkP+VEZIMo77N7TObgqBt035J95Qx5BBE3SLRPz6IU9bMqXyPTOESKLU;
        path=/; expires=Tue, 02-Nov-21 17:31:53 GMT; domain=.afterpay.com; HttpOnly;
        Secure; SameSite=None
      Server:
      - cloudflare
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "100101919615",
          "token" : "002.8lp05rmle32ja716duf55uugh5a9ftb25g771a6li8j2a3pe",
          "status" : "APPROVED",
          "created" : "2021-11-02T16:58:52.136Z",
          "originalAmount" : {
            "amount" : "50.00",
            "currency" : "USD"
          },
          "openToCaptureAmount" : {
            "amount" : "0.00",
            "currency" : "USD"
          },
          "paymentState" : "CAPTURED",
          "merchantReference" : "M775166205",
          "refunds" : [ ],
          "orderDetails" : {
            "consumer" : {
              "phoneNumber" : "",
              "givenNames" : "Christian",
              "surname" : "Rimondi",
              "email" : "admin@example.com"
            },
            "billing" : {
              "name" : "Christian Rimondi",
              "line1" : "1313 Broadway",
              "line2" : "",
              "area1" : "New York",
              "region" : "NY",
              "postcode" : "10001",
              "phoneNumber" : "+1 (252) 422-3232"
            },
            "shipping" : {
              "name" : "John Smith",
              "line1" : "A Different Road",
              "line2" : "Northwest",
              "area1" : "Herndon",
              "region" : "AL",
              "postcode" : "10002",
              "phoneNumber" : "555-555-0199"
            },
            "courier" : { },
            "items" : [ {
              "name" : "Product #1 - 4740",
              "sku" : "SKU-1",
              "quantity" : 1,
              "price" : {
                "amount" : "10.00",
                "currency" : "USD"
              },
              "categories" : [ [ "9443" ] ],
              "preorder" : false
            } ],
            "discounts" : [ ]
          },
          "events" : [ {
            "id" : "20N65HsF7pYR3yl24S2X1T9YZow",
            "created" : "2021-11-02T17:01:52.871Z",
            "expires" : null,
            "type" : "CAPTURED",
            "amount" : {
              "amount" : "50.00",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : null
          } ]
        }
  recorded_at: Tue, 02 Nov 2021 17:01:53 GMT
recorded_with: VCR 5.0.0
