<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
      body {
        padding: 0px;
        margin: 0px;
      }
      .main {
        background: #ffffff;
        color: #000000;
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: 'Helvetica', 'Arial', 'sans-serif';
      }
      .footer__contact {
        font-family: 'Times New Roman', 'Georgia', 'serif';
        font-size: 19px;
        line-height: 25px;
        color: #3150a2;
      }
      .footer__contact-link {
        font-family: 'Times New Roman', 'Georgia', 'serif';
        font-size: 19px;
        line-height: 25px;
        color: #3150a2;
        text-decoration: none;
      }
      .footer__contact-italic-link {
        font-family: 'Times New Roman', 'Georgia', 'serif';
        font-size: 19px;
        line-height: 25px;
        color: #3150a2;
        font-style: italic;
        text-decoration: none;
      }
      .footer__contact-italic {
        font-family: 'Times New Roman', 'Georgia', 'serif';
        font-size: 19px;
        line-height: 25px;
        color: #3150a2;
        font-style: italic;
      }
      .footer__contact-rights {
        font-family: 'Times New Roman', 'Georgia', 'serif';
        font-size: 12px;
        line-height: 24px;
        color: #3150a2;
        font-style: italic;
      }
      .footer__contact-rights-link {
        font-family: 'Times New Roman', 'Georgia', 'serif';
        font-size: 12px;
        line-height: 24px;
        color: #3150a2;
        font-style: italic;
        text-decoration: none;
      }
      .main-title {
        font-family: 'Times New Roman', 'Georgia', 'serif';
        font-size: 36px;
        line-height: 40px;
        color: #3150a2;
      }
      .text{
        font-family: 'Helvetica', 'Arial', 'sans-serif';
        font-size: 14px;
        line-height: 21px;
        color: #3150a2;
        letter-spacing: 0.03em;
      }
      .text__link {
        font-family: 'Helvetica', 'Arial', 'sans-serif';
        font-size: 14px;
        line-height: 21px;
        color: #3150a2;
        text-decoration: underline;
        letter-spacing: 0.03em;
      }
      .button{
        border: 2px solid #3150a2;
      }
      .button__link_area {
        background: #3150a2;
      }
      .button__link {
        background: #3150a2;
        color: #000000;
        text-decoration: none;
        font-family: 'Helvetica', 'Arial', 'sans-serif';
        display: inline-block;
        font-size: 12px !important;
        line-height: 30px !important;
      }
      .button__link__text {
        text-decoration: none;
        font-family: 'Arial', 'Helvetica', 'sans-serif';
        font-size: 10px !important;
        line-height: 31px !important;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
      }
      .order-title {
        font-family: 'Times New Roman', 'Georgia', 'serif';
        font-size: 25px;
        line-height: 40px;
        color: #3150a2;
      }
      .order-border {
        border-top: 1px solid #9cb1dc;
      }
      .order-border-darker {
        border-top: 1px solid #3150a2;
      }
      .order__product__section {
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-decoration-line: none;
        font-family: 'GT Walsheim Web', 'Helvetica', 'Arial', 'sans-serif';
        font-size: 13px;
        line-height: 30px;
        color: rgb(248,107,78);
      }
      .order__product__brand {
        font-family: 'Times New Roman', 'Georgia', 'serif';
        font-size: 14px;
        line-height: 21px;
        color: #3150a2;
        font-style: italic;
      }
      .order__product__name {
        font-family: 'Times New Roman', 'Georgia', 'serif';
        font-size: 14px;
        line-height: 21px;
        color: #3150a2;
      }
      .order__product__final_sale {
        font-family: 'GT Walsheim Web, Helvetica, Trebuchet MS, sans-serif', serif;
        font-size: 12px;
        line-height: 21px;
        color: rgb(248,107,78);
      }
      .order__product__options-key {
        font-family: 'Helvetica', 'Arial', 'sans-serif';
        font-size: 12px;
        line-height: 22px;
        color: #3150a2;
        letter-spacing: 0.03em;
      }
      .order__product__options-value {
        font-size: 12px;
        line-height: 22px;
        color: #a7b8df;
        font-family: 'Helvetica', 'Arial', 'sans-serif';
        letter-spacing: 0.03em;
      }
      .order__product__price {
        font-size: 12px;
        line-height: 22px;
        color: #3150a2;
        font-family: 'Helvetica', 'Arial', 'sans-serif';
        letter-spacing: 0.03em;
      }
      .order__total-key {
        font-size: 12px;
        line-height: 24px;
        color: #3150a2;
        font-family: 'Helvetica', 'Arial', 'sans-serif';
        letter-spacing: 0.03em;
      }
      .order__total-value {
        font-size: 12px;
        line-height: 24px;
        color: #a7b8df;
        font-family: 'Helvetica', 'Arial', 'sans-serif';
        letter-spacing: 0.03em;
      }
    </style>
  </head>
  <body>
    <div align="center" width="100%" class="main" bgcolor="#ffffff" style="background: #ffffff !important">
      <center>
        <div align="center" width="100%" bgcolor="#ffffff" style="background: #ffffff !important">
          <table width="600" align="center" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background: #ffffff !important">
            <tr class="gmail-fix">
              <td>
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="width:600px;max-width:600px;min-width:600px">
                  <tr>
                    <td cellpadding="0" cellspacing="0" border="0" height="1" style="line-height: 1px; min-width: 600px;">
                      &nbsp;
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" height="40">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td width="600" valign="top" bgcolor="#ffffff" style="background: #ffffff !important">
                <table width="600" align="center" cellspacing="0" cellpadding="0">
                  <!--header-->
                  <tr>
                    <td align="center" height="75">
                      <a href="<%= mail_url %>" target="_blank">
                        <img src="<%= image_path('email/maisonette_logo.png') %>" width="122" height="9" style="display: block; min-height: 18px; width: 240px; @media (min-width: 992px) { width: 170px;}" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
