---
http_interactions:
- request:
    method: post
    uri: https://ws-st01.narvar.qa/api/v1/orders
    body:
      encoding: UTF-8
      string: '{"order_info":{"order_number":"R00040001","order_date":"2018-12-31T19:00:00-05:00","status":null,"currency_code":"USD","attributes":{"checkout_brand":null,"checkout_language":"EN","checkout_country":"US","checkout_locale":"en_US"},"order_items":[{"item_id":5,"sku":"SKU-198","name":"Product
        #104 - 1668","description":"As seen on TV!","quantity":1,"unit_price":"10.0","discount_amount":0.0,"discount_percent":null,"is_backordered":false,"estimated_del":null,"categories":[],"item_image":null,"item_url":"http://localhost:7777/product/product-104-1668","is_final_sale":false,"fulfillment_status":"PENDING","is_gift":false,"final_sale_date":null,"line_number":0,"events":[{"event":null,"quantity":null,"sequence":null}],"attributes":{"color_id":null,"color":null,"size":null,"side_id":null,"style":"Size-95","custom_attribute1":null,"custom_attribute2":null},"dimensions":{"uom":null,"length":0.0,"width":0.0,"height":0.0,"weight":0.0,"weight_uom":"lbs"},"vendors":[{"email":null,"name":"NY
        Warehouse","phone":"(202) 456-1111","type":"VND-8","address":{"street_1":"1600
        Pennsylvania Ave NW","street_2":null,"city":"Washington","state":"AL","zip":"20500","country":"US"}}],"item_promise_date":null}],"billing":{"billed_to":{"first_name":"John","last_name":null,"phone":"555-555-0199","phone_extension":null,"email":"email14@example.com","fax":null,"address":{"street_1":"PO
        Box 1337","street_2":"Northwest","city":"Herndon","state":"AL","zip":"10027","country":"US"}},"amount":110.0,"tax_rate":null,"tax_amount":0.0,"shipping_handling":100.0,"payments":[]},"customer":{"first_name":"John","last_name":null,"phone":"555-555-0199","phone_extension":null,"email":"email14@example.com","fax":null,"address":{"street_1":"PO
        Box 1337","street_2":"Northwest","city":"Herndon","state":"AL","zip":"10027","country":"US"},"customer_id":null,"customer_tier":null,"customer_type":null,"notification_preferences":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - <Authorization Code>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application
    body:
      encoding: UTF-8
      string: '{"status":"SUCCESS","messages":[{"code":"response.status.success","message":"Order
        information saved for order number R00040001"}]}'
  recorded_at: Wed, 20 Nov 2019 15:01:32 GMT
recorded_with: VCR 5.0.0
